{
    "arrowParents": "avoid",
    "singleQuote": true,
    "tsxSingleQuite": true,
    "jsxSingleQuite": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "semi": false,
    "printWidth": 80
}
